.content{
  display: flex;
  flex-flow: row nowrap;

  .entrance{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%
  }
}

@media only screen and (max-width: 900px) {
  .content{
    .entrance{
      align-items: center
    }
  }
}
