.text-field-input{
  width: 100%;
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  padding: 0;
  min-height: 36px;
  background: transparent;
  outline: none;
  border: none;
}


.border-bottom-line-block{
  width: 100%;
  border-bottom: lightgray 1px solid;
}
